@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.line-break{
    white-space: pre-line;
    display: inline-block;
    align-items: flex-start;
    margin-top: 60px;
}
